
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
  
    <link rel="stylesheet" type="text/css" href="static/bank.css">
</head>

<body>
    
    <div class="container">
        <h1>Login</h1>
        <form  method="POST">
            <label class="mandatory">Account Number: </label>
            <input class='input' ="number" name="accountnumber" required><br><br>
            <label class="mandatory">Password:</label>
            <input class="input" type="password" name="password" required><br>
            <input class="btn" type="submit" value="Login">
        </form>
        <a href="register">Register</a>
    </div>
</body>
</html>
