
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="static/bank.css">
</head>
</head>
<body>
    <h1>Register</h1>
<div class="container">
        <form method="post">
            <label class="mandatory" for="AccountNumber">Account Number: </label>
            <input type="number" name="AccountNumber"><br>

            <label class="mandatory" for="DataofBirth">Data Of Birth: </label>
            <input type="date" name="DataofBirth"><br>

            <label class="mandatory" for="FullName">Full Name: </label>
            <input type="text" name="FullName"><br>

            <label class="mandatory" for="Age">Age: </label>
            <input type="number" name="Age"><br>

            <label class="mandatory" for="Email">Email: </label>
            <input type="text" name="Email"><br>

            <label class="mandatory" for="password">Password: </label>
            <input type="password", name="password"><br>
             
            <input class="btn" type="submit" value="Submit">

        </form>
        <a href="login">Login</a>
    </div>
    
</body>
</html>
