
<!DOCTYPE html>
<html>
<head>
    <title>Transfer</title>
    <link rel="stylesheet" type="text/css" href="static/bank.css">
</head>
<body>
    <div class="container">
        <h1>Transfer</h1>
        <form method="POST">
            <label class="mandatory">Receiver:</label>
            <input type="text" name="receiver" required><br>
            <label class="mandatory">Amount:</label>
            <input type="number" name="amount" required><br>
            <input class="btn" type="submit" value="Transfer">
        </form>
    <div>
</body>
</html>
